{
  "layer" : "ORTHOIMAGERY.ORTHOPHOTOS",
  "url" : "https://wxs.ign.fr/xx--KEY--xx/geoportail/wmts?layer={layer}&style={style}&tilematrixset=PM&Service=WMTS&Request=GetTile&Version=1.0.0&Format={format}&TileMatrix={zoom}&TileCol={col}&TileRow={row}",
  "file_ext": "jpeg",
  "tile_size" : [256,256],
  "zoom" : 19,
  "style" : "normal"
}